.header {
  display: flex;
  padding: 4rem;
  gap: 50px;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.header-right {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heading, .color-heading {
  font-family: var(--font-family);
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  color: var(--color-text);
  line-height: 76px;
}

.color-heading {
  color: var(--color-brand);
}

.sub-heading {
  font-family: var(--font-family);
  font-size: 16px;
  font-style: normal;
  color: var(--color-subtext);
  font-weight: 400;
  line-height: 24px;
}

.btn {
  background-color: var(--color-brand);
  color: #fff;
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
}

.ill1 {
  width: 350px;
  height: 350px;
}

@media screen and (max-width: 1000px) {
  .header {
    display: flex;
    padding: 2rem;

  }

  .heading,
  .color-heading {
    font-size: 40px;
    line-height: 40px;
  }

  .ill1 {
    height: 300px;
    width: 300px;
  }
}

@media screen and (max-width: 800px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 30px;
  }

  .heading,
  .color-heading {
    font-size: 50px;
    line-height: 60px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 30px;
  }

  .header-right{
    margin-bottom: 2rem;
  }

  .heading,
  .color-heading {
    font-size: 35px;
    line-height: 45px;
  }

  .sub-heading {
    font-size: 14px;
    line-height: 25px;
  }

  .ill1 {
    height: 250px;
    width: 250px;
  }
}